<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Seccion Libros</title>
</head>
<body>

    <header class="header-ver-autores">

      <div class=" contenedor contenido-header">

        <div class="barra">

          <a href="/">
            <img src="/img/logo.png" alt="Logo Libreria" style="width: 10rem;">
          </a>
          
          <nav class="navegacion">
            <a th:href="@{/libro/menu}">Libros</a>
            <a href="/autor/menu">Autores</a>
            <a href="/editorial/menu">Editoriales</a>
          </nav>

        </div>

        <h1>Ver Autores</h1>

      </div>

    </header>

    <main>
      <div class="contenedor seccion-b-libros">
          <table class="tabla">
              <thead class="tabla-head">
                 <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Estado</td>                    
                    <td>Opciones</td>
                 </tr>
              </thead>
              <tbody>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>
                      <a href=""><i class="fas fa-arrow-up"></i></a>
                      <a href=""><i class="fas fa-ban"></i></a>
                      <a href=""><i class="far fa-edit"></i></a>
                    </td>                   
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                   
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                   
                </tr>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                  
                </tr>
                
              </tbody>


          </table>     
          
          <a href="/autor/menu" class="test20 volver">VOLVER </a>
      </div>
      
    </main>
  </body>
</html>